{
    "presets": ["next/babel"],
    "plugins": [
	"emotion",
        ["@babel/plugin-proposal-decorators", { "legacy": true }]
        // ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
